.font{
	font-size: 20px;
}
.issue-after-before{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0 10px 0 0;
	position: relative;
}

.issue-before{
    margin-right: 15px;
}
* {
	box-sizing: border-box;
	transition: all.2s linear;

}
.instagram-card span {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.instagram-card {
	width: auto;
	display: flex;
	flex-flow: column nowrap;
	padding: 20px;
}
.instagram-card2{
	display: flex;
	flex-flow: row nowrap;
    padding: 15px 0 0 0;
	position: relative;
}
.support-tables{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.support-tables div{
	margin: 5px;
}
.support-tables .mat-table{
	width: 60%;
}
.support-tables .money-table{
	width: 40%;
}
.instagram-card-image {
	position: relative;
	width: auto;
	height: auto;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	cursor: pointer;
}

.issue-details{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
}
.group-title{
	margin-bottom: 10px;
    font-size: 20px;
}
.groups-section{
	border-left: 5px solid #2b87f071;
	padding: 0 15px;
	min-height: 280px;
	max-height: 280px;
}
.instagram-card-user-image {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.supporters-list{
	overflow: scroll;
}
.instagram-card-user-name {
	margin-left: 20px;
	display: inline;
}
.supporters-list .instagram-card-user-name {
	font-size: 15px;
}
.supporters-list .instagram-card-user-image{
	width: 30px;
	height: 30px;
}
.instagram-card-image{
    position: relative;

}
.instagram-card-image img {
	width: 160px;
	height: 270px;
	border-radius: 3px;
}
.instagram-card-image div{
    width: 100%;
    height: 50px;
    color: #ccc;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 20px 20px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 20px 20px 6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 6px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 15px 0 0 0;
    border: none;
    font-style: oblique;
    font-size: 20px ;
    border-radius: 3px 3px 0 0;
}
.supervisor-name{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 30%;
    margin: 0;
    padding: 0;
}
.category-date {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 5px;
    font-size: 14px;
}

.accept-show-requested {
	display: flex;
	flex-flow: row nowrap;
	padding-left: 7px;
}

.accept-show-requested .accept {
	margin-right: 30px;
}

.submitted-issue-details {
	padding: 0;
}

.instagram-card-content {
	padding: 20px;
}


.instagram-card-content-user {
	font-weight: bold;
	color: #262626;
}

.blog-text-success {
	color: #6f6f6f !important
}


a {

	text-decoration: none;

}


hr {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: 0px;

}

.blog-card-blog .blog-card-caption {
	margin-top: 5px
}

.blog-card-caption,
.blog-card-caption a {
	color: #333;
	text-decoration: none
}


.blog-card-description {
	color: #444;
	font: 0.9em sans-serif;
	margin: 7px;
}

.blog-table {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 0;
	width: 100%;
	padding-left: 10px;
}
.submition-info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.supervisor-report{
    padding: 10px;
}
.supervisor-report p{
    padding: 10px;
    border: 0.01rem solid #c0c0c080;
    border-radius: 5px;
    width: 50%;
    min-height: 80px !important;
}

// ******************************************************

.model-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    transform: scale(0);
	z-index: 2;
}
.model-container .model{
	z-index: 3;
	height: 95%;
	width: 85%;
	margin: 0 10px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.close{
	position: absolute;
	float: right;
	top: 10px;
	right: 15px;
	cursor: pointer;
}