// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container{
	display: flex;
    flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-items: center;
    padding: 20px;
    background-color: cornflowerblue;
}
.container-form{
    display: flex;
    flex-flow: column nowrap;
	align-items: flex-start;
    padding: 40px;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: #fff; 
}
#frame{
    border-radius: 10px;
    margin-left: -15px;
    margin-right: 20px;
}
.custom-file{
    width: 250px;
    margin-left: 0px;
}
.choosephoto{
    display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;
    width: 300px;
    height: auto;
    margin-bottom: 40px;
}
.issueInfo{
    height: auto;
    background-color: #fff; 

}
.issueInfoParts{
    display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
    margin-bottom: 20px;
    width: auto;
}
.issueInfoParts label{
    margin-right: 20px;
}
.issueInfoParts select{
    width: 300px;
}
.result{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: rgb(22, 22, 22);
    background-color: #999;
    text-align: center;
}
.btn2{
    border: none;
    border-radius: 3px;
    outline: none;
    color: rgb(22, 22, 22);
    height: 40px;
    width: 130px;
    background-color: #999;
}