<h1>Editing fixed issue</h1>

<%= render "form", fixed_issue: @fixed_issue %>

<br>

<div>
  <%= link_to "Show this fixed issue", @fixed_issue %> |
  <%= link_to "Back to fixed issues", fixed_issues_path %>
</div>
